<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>

{{>navbar }}    
    <!-- .main header -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- right-sith-div -->
                     <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/freelance.png" alt="" class="img-fluid" title="Secret Of Learnings">
                        </figure>
                    </div>
                    <!-- right-sith-div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To My Website</p>
                        <h1>I am a  <span class="text_color"> Mern Stack Developer  </span>, Youtuber And Freelancer</h1>
                        <a href="https://ehtisham-personal.web.app/" target="_blanks"> <button>About Me</button></a>
                    </div>
                   

                </div>
            </div>

        </div>
    </div>
<!-- foooter -->
 {{>footer}}  
</body>
</html>