<!DOCTYPE html>
<html lang="en">
<head>
       {{>headerLinks}}
</head>
<body>
{{>navbar}}
    <!-- .main header -->

    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right-sith-div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Weather App</p>
                        <h1>Get The Latest <span class="text_color"> Weather </span> Info In Your City</h1>
                        <a href="/weather"> <button>Check Now</button></a>
                    </div>
                    <!-- right-sith-div -->

                    {{>slider}}

                </div>
            </div>

        </div>
    </div>
<!-- foooter -->
{{>footer}}  
</body>
</html>